
<div class="nav-header ">
  <mat-grid-list cols="7">
    <div>
      <mat-grid-tile>
        <app-position-navbar></app-position-navbar>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <app-nation-navbar></app-nation-navbar>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <app-league-navbar></app-league-navbar>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <app-club-navbar></app-club-navbar>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <app-tns-navbar></app-tns-navbar>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <app-eyefilter-navbar></app-eyefilter-navbar>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <app-additionalfilters-navbar></app-additionalfilters-navbar>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <app-player-overview></app-player-overview>
</div>




