.color-class {
    background-color: palevioletred;
}

.nav-header {
    max-width: 1280px;
    margin: 0 auto;
    display: block;
}

.mat-grid-tile {
    padding-top: 2% !important;
    padding-bottom: 5% !important;
}

.mat-grid-list {
    padding-bottom: 10% !important;
}

.each-dropdown-style {
    display: inline-block;
    margin: 0px 10px;
}

.each-dropdown-style:first-child {
    margin-left: 0px;
}

.each-dropdown-style:last-child {
    margin-right: 0px;
}