<div class="position-dd inline-style">
  <mat-form-field>
    <mat-select placeholder="T&S" [(value)]="selected" [matMenuTriggerFor]="tlsfilter">
      <!--<mat-option *ngFor="let ts of tss" [value]="ts.value">-->
        <!--{{ts.viewValue}}-->
      <!--</mat-option>-->
    </mat-select>
  </mat-form-field>

  <mat-menu #tlsfilter="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="Traits" class="custom-font-size">Traits</button>
    <button mat-menu-item [matMenuTriggerFor]="Specialities" class="custom-font-size">Specialities</button>
    <button mat-menu-item [matMenuTriggerFor]="Type" class="custom-font-size">Type</button>
  </mat-menu>

  <mat-menu #Traits="matMenu">
    <button mat-menu-item class="custom-font-size">Avoid using weaker foor</button>
    <button mat-menu-item class="custom-font-size">Finesse Shot</button>
    <button mat-menu-item class="custom-font-size">Team Player</button>
    <button mat-menu-item class="custom-font-size">Power Free-Kick</button>
    <button mat-menu-item class="custom-font-size">Solid Player, Leadership, Team Player</button>
  </mat-menu>

  <mat-menu #Specialities="matMenu">
    <button mat-menu-item class="custom-font-size">Aerial Threat, Tackler, Tactician, Complete Defender</button>
    <button mat-menu-item class="custom-font-size">Speedster, Dribbler, Distance Shooter, Crosser, FK Specialist, Acrobat, Clinical Finisher, Complete Forward</button>
    <button mat-menu-item class="custom-font-size">Crustaceans</button>
    <button mat-menu-item class="custom-font-size">Aerial Threat, Tackler, Tactician, Strength, Complete Defender</button>
    <button mat-menu-item class="custom-font-size">Tackler, Tactician</button>
    <button mat-menu-item class="custom-font-size">Play Maker, Distance Shooter</button>
    <button mat-menu-item class="custom-font-size">Dribbler, Crosser</button>
  </mat-menu>

  <mat-menu #Type="matMenu">
    <button mat-menu-item class="custom-font-size">Finisher</button>
    <button mat-menu-item class="custom-font-size">Creator</button>
    <button mat-menu-item class="custom-font-size">Wing Back</button>
    <button mat-menu-item class="custom-font-size">Sweeper</button>
    <button mat-menu-item class="custom-font-size">Ball Winner</button>
  </mat-menu>



</div>
