.inline-style{
  display: inline-block;
}


.pace-ip-full-width, .pace-btn-full-width {
  width: 100%;
}
.ip-padding{
  padding-left: 10px;
}

.sample-border{
  border:1px solid green;
}
.pace-comp{
  width:100%;
  margin: 0px 20px;
}
.sidebysidediv{
  width:48%;

}
.mat-form-field-infix{
  width: 100%;
}
